*{
  margin: 0;
  padding: 0;
  }
  

html,body{
  width: 100%;
  height: 100%;
}


#main{
  height: 100%;
  width: 100%;
  background-color: #ededed;
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 26% 56% 18%;
}

#left-top-left{
  /* background-color: aqua; */
  padding: 40px;
}

#square{
  width: 20px;
  height: 20px;
  background-color: black;
  rotate: 45deg;
}


#left-top-right{
  /* background-color: lightyellow; */
  justify-self: right;
  padding: 30px;
  text-align: right;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#left-top-right h6{
  display: none;
}

#left-top-right h4{
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 400;
}


#left-top-right h5{
  font-size: 15px;
  color: #333;
}


#left-center h1{
  font-size: 6vw;
  text-transform: uppercase;
  line-height: 6vw;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

#left-center h1:nth-child(2n){
  text-align: center;
}

#left-center{
  /* background-color: lightgray; */
  grid-column: 1 / 3;
  padding: 40px;
}

#left-bottom{
  /* background-color: lightpink; */
  grid-column: 1 / 3;
  padding: 30px;
}

#left-bottom p{
  width: 70%;
  font-size: 18px;
  font-weight: 400;
  color: #666;
}

/* #right{
  background-color: lightsalmon;
} */



#right{
  /* background-color: lightcyan; */
  grid-column: 3;
  grid-row: 1 / 4;
  padding: 40px;    
  padding-right: 150px;
}

#right video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  object-position: 50% 20%;
}

#arrow{
  position: absolute;
  top: 50%;
  left: 52%;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 50%;
  align-items: center;
  background-color: orangered;
  color: #ffffff;
  transform: translate(-50%, -50%);
}

#arrow i{
  font-size: 30px;
  font-weight: 100;
}


@media (max-width:600px) {
  #main{
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 34% 8%;
  }


  #left-top-left{
    /* background-color: aqua; */
    padding: 20px;
  }
  
  #square{
    width: 13px;
    height: 13px;
  }
  
  
  #left-top-right{
    /* background-color: lightyellow; */
    /* justify-self: right; */
    padding: 20px;
    text-align: right;
  }
  
  #left-top-right h4{
    display: none;
  }
  
  
  #left-top-right h5{
    display: none;
  }
  
  #left-top-right h6{
    display: initial;
    font-size: 20px;
  }
  
  #left-center h1{
    font-size: 15vw;
    text-transform: uppercase;
    line-height: 13vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #left-center h1:nth-child(2n){
    text-align: right;
  }
  
  #left-center{
    /* background-color: lightgray; */
    /* grid-column: 1 / 3; */
    padding: 10px 20px;
  }
  
  #left-bottom{
    /* background-color: lightpink; */
    /* grid-column: 1 / 3; */
    padding: 5px 15px;
  }
  
  #left-bottom p{
    width: 90%;
    font-size: 10px;
    font-weight: 400;
    color: #666;
  }
  
  /* #right{
    background-color: lightsalmon;
  } */

  
  #right video{
    height: 42vh;
  }
  
  #arrow{
    top: 5%;
    left: 54%;
    padding: 10px;
    transform: translate(-50%, -50% rotate(90deg));
  }
  
  #arrow i{
    font-size: 15px;
    font-weight: 100;
  }



  #right{
    /* background-color: lightcyan; */
    grid-column: 1 / 4;
    grid-row: 4;
    padding: 20px;    
    padding-right: 20px;
  }


}