*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,body{
  width: 100%;
  height: 100%;
}

/* nav-bar-code */


#main{
  height: 100%;
  width: 100%;
  /* background-color: grey; */
}

.nav-section{
  height: 80px;
  width: 100%;
  /* background-color: cadetblue; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
}

.nav-section h4{
  font-size: 20px;
  font-weight: 500;
}

.nav-section i{
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
}

.content{
  /* height: 40%; */
  width: 100%;
  /* background-color: red; */
  padding: 40px 80px;

}
.content h1{
  font-size: 70px;
  font-weight: 500;
  line-height: 80px;
}

.center-in{
  height: 200px;
  /* background-color: red; */
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.center-in p{
  font-size: 22px;
  font-weight: 600;
  line-height: 32px; 
}

#right{
  width: 20%;
}

.elem{
  /* background-color: yellow; */
  /* margin: 5px; */
  padding: 18px 0;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.elem i{
  font-size: 25px;
  font-weight: 500;
  opacity: 0;
}

.elem a{
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}


.elem:hover i{
  opacity: 1;
}

.elem:hover a{
  text-decoration: underline;
}


#bottom{
  height: 35%;
  width: 100%;
  background-color: red;
  background-image: url(https://images.unsplash.com/photo-1617551307538-c9cdb9d71289?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0 25%;
}
